<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SvnCommiter.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SvnCommiter.Config>
            <setting name="CommitUrl" serializeAs="String">
                <value>http://xsj.kingsoft.net/DevSimple/Task/SvnCommiterDirect.aspx</value>
            </setting>
            <setting name="SvnPath" serializeAs="String">
                <value>svn.exe</value>
            </setting>
            <setting name="FoldPaths" serializeAs="String">
                <value/>
            </setting>
            <setting name="Svn6Path" serializeAs="String">
                <value>svn.exe</value>
            </setting>
            <setting name="Svn7Path" serializeAs="String">
                <value>svn.exe</value>
            </setting>
        </SvnCommiter.Config>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
